<div class= "container">
  <div class= "row no-gutters">
    <% @users.each do |user|%>
      <div class="col-sm-4" >
        <%= image_tag @user.get_image(100,100) %>
      </div>
      <div class="col-sm-4" >
        <%=user.name %>
      </div>
      <div class="col-sm-4" >
        <%= link_to 'Show', user_path(user.id) %>
      </div>
    <%end%>
  </div>
</div>